<header>
  <mat-toolbar color="primary" [routerLink]="['/']">
    <button mat-icon-button>
      <mat-icon>home</mat-icon>
    </button>
    <a mat-flat-button color="primary" [routerLink]="['/home']">Weather Forecast</a>
    <a mat-flat-button color="primary" [routerLink]="['/country']">Countries</a>
    <a mat-flat-button color="primary" [routerLink]="['/city']">City</a>
  </mat-toolbar>
  <nav>
    <!-- <a [routerLink]="['/']">World Cities</a> | -->
    <!-- <a [routerLink]="['/home']">Weather Forecast</a> -->
  </nav>
</header>
