<div class="container">
  <h1>Cities</h1>
  <p>Here's a list of cities: feel free to play with it.</p>
  <div *ngIf="!cities"><em>Please wait while data is loading...</em></div>
  <table class="table table-striped" [hidden]="!cities">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Latittude</th>
        <th>Longitude</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let city of cities">
        <td>{{ city.id }}</td>
        <td>{{ city.name }}</td>
        <td>{{ city.lat }}</td>
        <td>{{ city.lon }}</td>
      </tr>
    </tbody>

  </table>
</div>
